{%extends 'ecommerceapp/templates/index.html'%}
{%load static%}
{%block mycontent%}
<div class="contents">
    <h1><span>Product List</span></h1>
    <div class="container" style=" margin-right: 340px; margin-top: 25px;">


        <form method="post">
            {%csrf_token%}
            <label>Name:</label>
            <input type="text" name="tname" value="{{oldData.name}}">
            <label>Price:</label>
            <input type="text" name="tprice" value="{{oldData.price}}">
            
            <input type="submit" value="update">
        </form>

    </div>
</div>
{%endblock%}