{%extends 'templates/ecommerceapp/index.html'%}
{%load static%}
{%block mycontent%}
<div class="contents">
    <h1><span>Category List</span></h1>
    <div class="container" style=" margin-right: 340px; margin-top: 25px;">


        <form method="post" enctype="multipart/form-data">
            {%csrf_token%}
            {{form}}
            <input type="submit" value="add">
            
        </form>
        <div style="color: red;">
            {{message}}
        </div>

    </div>
</div>
{%endblock%}